*.txt
*.log
*.err
*.out
mc_runs_100000/**/logs/logs/mc_pi.log
!output_0.txt
!output_1.txt
!output_2.txt
!job_0.err
!job_1.err
!job_2.err
!job_0.log
!job_1.log
!job_2.log
!job_0.out
!job_1.out
!job_2.out
!mc_pi.log
mc_run*/mc_pi.sub
mc_run*/mc_pi.py